[submodule "Modules/MCAD"]
	path = Modules/MCAD
	url = https://github.com/SolidCode/MCAD.git
[submodule "Software/ReprapHeatedBedGenerator"]
	path = Software/ReprapHeatedBedGenerator
	url = https://github.com/pavlog/ReprapHeatedBedGenerator.git
[submodule "Software/Marlin"]
	path = Software/Marlin
	url = https://github.com/pavlog/Marlin
